In [5]:
name ="Ram"

print(type(name))

In [7]:
print(type(name))

<class 'str'>

In [9]:
print(id(name))

1878195232736

In [13]:
print(hex(id(name)))

0x1b54d28dfe0

print(bin(id(name)))

In [15]:
print(bin(id(name)))

0b11011010101001101001010001101111111100000

In [17]:
age = 25

In [19]:
print(type(age))

<class 'int'>

In [21]:
salary = 25000.25645

In [23]:
print(type(salary))

<class 'float'>

In [27]:
isMale = True

print(type(isMale))

In [29]:
print(type(isMale))

<class 'bool'>

# data stucture:
list:
Tuple:
set:
Dictionary:

# list : 
##### list is a colection of data

In [35]:
ls = [2,3,4,5,6]

In [37]:
print(type(ls))

<class 'list'>

In [39]:
print(dir(ls))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [41]:
#Tuple:

In [43]:
data = (2,3,4,5,6)

In [45]:
print(type(data))

<class 'tuple'>

In [13]:
st = {2,3,4,5,6,7,8,9}

In [51]:
movies = {"A": "Ram", "B": 25000}

In [53]:
print(movies)

{'A': 'Ram', 'B': 25000}

In [57]:
print(type(movies))

<class 'dict'>

In [3]:
print(int(bin(name)))

NameError: name 'name' is not defined

In [61]:
print(bin(age))

0b11001

In [63]:
print(hex(age))

0x19

In [65]:
print(hex(name))

TypeError: 'str' object cannot be interpreted as an integer

In [75]:
name1 = input("Enter your name:")

Enter your name: Dimpal

In [77]:
print(name1)

Dimpal

age = input("Enter your age:")

In [81]:
print(age)

35

In [83]:
n1 = input("Enter your name:")
print(n1)

Enter your name: Dimple

Dimple

In [85]:
a1 = input("Enter your age:")
print(a1)

Enter your age: 35

35

In [89]:
print(n1 \n a1)

SyntaxError: unexpected character after line continuation character (1623896633.py, line 1)

In [97]:
print(f"wecome {n1} your age is {a1} years")

wecome Dimple your age is 35 years

In [99]:
print(bin(salary))

TypeError: 'float' object cannot be interpreted as an integer

In [105]:
salary = 25000

In [107]:
print(bin(salary))

0b110000110101000

In [109]:
salary = 24.67

In [111]:
print(bin(salary))

TypeError: 'float' object cannot be interpreted as an integer

In [113]:
print(bin(id(salary)))

0b11011010101010000001110010010100000010000

In [115]:
print(hex(salary))

TypeError: 'float' object cannot be interpreted as an integer

In [15]:
st = {2,3,4,5,6,7,8,9}

In [17]:
print(type(st))

<class 'set'>